<mat-toolbar class="navbar" color="primary">
  <div>Logo Here</div>
  <div>
    <a class="link" routerLinkActive="active" routerLink="/home">Home</a>
    <a class="link" routerLinkActive="active" routerLink="/about">About</a>
    <a class="link" routerLinkActive="active" routerLink="/contact"
      >Contact Us</a
    >
    <a class="link" routerLinkActive="active" routerLink="/budgets">Budgets</a>
    <!-- <a
      class="link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      >Login</a
    > -->
    <button mat-button class="toggle-login-btn" (click)="toggleLogin()">
      {{ btnLabel }}
    </button>
  </div>
</mat-toolbar>
