.navbar {
  justify-content: space-between;
}
.link {
  padding: 0 1rem;
  color: #fff;
  text-decoration: none;
}

.active {
  color: cyan;
  text-decoration: underline;
}

.toggle-login-btn{
  border: 1px solid #fff;
}
